{{ ansible_managed | comment }}
#
{% for setting in netconfig_settings %}
{{ "%-14s" | format(setting.network_id) }}{{ "%-14s" | format(setting.semantics) }}{{ "%-6s" | format(setting.flags) }}{{ "%-10s" | format(setting.protofamily) }} {{ "%-18s" | format(setting.protoname) }} {{ "%-30s" | format(setting.device) }}{{ setting.libraries }}
{% endfor %}
